html {
  min-height: 100%;
  position: relative;
}

body{
    font-family: 'Inconsolata', monospace;
    padding: 0;
    margin: 0;
    margin-bottom: 94px;
}

header{
    background-color: rgb(179, 2, 2);
    color: #FFFFFF;
    padding: 10px 15px 10px 15px;
}

.home-link{
    color: white;
}
.home-link:hover{
    color: white;
    text-decoration: none;
}
.search-form{
    margin-top: 0.5em;
}

footer{
    /*height: 10vh;*/
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 94px;
    background-color: black;
    color: #FFFFFF;
    padding: 28px 15px 10px 15px;
}

#main-content{
    /*min-height: 80vh;*/
}

.developed{
    text-align: center;
    font-size: 12px;
}
